/* General */
:root {
  --bg-color: #22223b;
  --surface: #4a4e69;
  --primary-text: #ffffff;
  --secondary-text: #9a8c98;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  min-height: 100dvh;
  font-family: sans-serif;
  color: var(--primary-text);
  background-color: var(--bg-color);
}

/* Elements */
a {
  text-decoration: none;
  color: var(--primary-text);
  font-size: 1.5rem;
  transition: color 0.2s ease;
}
a:hover {
  color: var(--secondary-text);
}

p {
  width: 65ch;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
}

section {
  height: 35dvh;
  padding-bottom: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  margin-bottom: 0;
}

/* Header */
.nav-items {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 1rem;
  padding-right: 2rem;
}

#header {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10dvh;
}

#theme-switch-icon {
  color: var(--primary-text);
  font-size: 1.3rem;
  transition: transform 0.2s ease;
}

#theme-switch-icon:hover {
  transform: scale(1.1);
}

/* Hero Section */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10dvh;
}
.hero h1 {
  margin: 0;
  font-size: 3rem;
  font-style: italic;
  text-align: center;
  animation-name: focus-in-contract;
  animation-duration: 1.5s;
  animation-timing-function: linear;
}
.hero p {
  visibility: hidden;
  animation-delay: 1.5s;
  animation-name: fade-in;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}

/* Animations */
@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    letter-spacing: 0;
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
